---
users:
- username: n0emis
  state: present
  shell: /bin/zsh
  sudo: yes
  public_key: |
    ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEcOPtW5FWNIdlMQFoqeyA1vHw+cA8ft8oXSbXPzQNL9 n0emis@n0emis.eu
  oh_my_zsh:
    theme: agnoster

- username: root
  state: present
  shell: /bin/zsh
  sudo: yes
  oh_my_zsh:
    theme: agnoster

- username: em0lar
  state: present
  shell: /bin/zsh
  sudo: yes
  public_key: |
    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAEAQC5LY2Vp2jWD4O9rPeVHDzVGWS+tnwvguZ32BTu6m3b7XROhikF4UKSHiYF//AtZfuP2xTHTt+XWMzMghEf/GVkhJnA3YImg5+GtVCZwgsxKNs7RY47g6xtj962nxtqPkwUqXJI91QMLPSr5NlsyvImiyJjwNqO6SSFBgUIwa0lAgt3z5EroanHucMIOepcOQH+7GvZXrTfsxfxK5FJF6VCcDqT1UteCxzPMu29isugKo4nwZD7/jC/iXRXks9fMjjg3/bbiVJQcsIMrKhijd4pjMFjGLauz86/K55x+CcNuyGhaIdIdqt2mXnwfRX7uUlf3dushPZwtM7KpHtfQtBq4DcEsjqBqt6XYROmvx2fTenjdfo1vht37JLKi0KNqb+Nk9HJC2RQMHy+lf/OwsytbGyt3UB/2Vt7n4SqvGLyhXccU4sniyL9gDkjodB8bHTx7374rASDzjEfkT+SIbntdDQwQ+MFKiArqxOCKSiCLYgzxXdbGBhFp/pPkZJLArc7Sv6zpO8GUMjvtDPRpOEHcAU0UqIjvZPfYkSZoyuLXB0XOSdNQQ12S8OcR4fGlDMr2StjIbdKWa1xiMMa9AdXDD0B5uYn5jDX5Mfs1mRFySnp9Wd/PdecP3L6w09qGEe7LMSbD1ka79wyUZNcAKG1iRwtZrI2Bt/lrT1sEAL1HdEtEwX/0mBJoUzuopNoIito8EYwLiIzE+Bnlm6Yj+cQ1vVhxShUDIBxBbOJIiTtBrEqIQvcWABKQ5jns7ogWPA4K5JJUaRc5Q0ZSMd0iEwsUzVdQJfnSFP1h0YSjAtmLRX/N14Ut1E9UTbmpQdhC4+DwvPZClvpiinEdKo8CJcsRVoBEzWHhLSkLnSDsQvFC+RPkFiyITMKbuGpOItTosa81olliJBH/zG+4I+fR1jeWf8UfPAoqehON/dzdlGrGanNaqfU5tT1xMLccWyi18trfP7foL8/mjD0C8bMc4PL/sLiaDIRc6xBoOe0eCZWIpyC4k8onTyfX8zSef21jhEm642z03OFRiVTQN2zgWtrpSuqY4EV1+R24I0TIuzUKQJzcPqOmZIAXisLgIn2jQ7PM9yR8evfRTC9efY7yhAUoqD/7rmGTU0DZg9wrivFv1cyLGafBqXZhU+ZiyWz3S8kbUwpYFOL1MH4zTK/jUYOpaue34V3SlYnWB2RtzJocpC1eNSOgdUbHHnJzOIAful8JTjr4nSmvMKWpziwGAHoCtakapYHk9qJu8jLkX3u04hP2yVjLN5TO/aZXFdegTF5UNgA1f2IwYZNA0ofs/6ts54nlEUdkS5ibffVH5IHbHZi5AqFquDjK3NRHuBp523NxZTsHxrkBre28InXXrsP em0lar@em0lar.de
    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDR9Kp84lHQRnaWU6gd8MHppZD3pQCI2TCeGF/kHm/A/kqADWqtTWjnD5ad1ZhOTSThCF35VGH3ICdnSCHh0uAHV7eK3GDjhxdrIJHY/WiubEpQJcS5OX/qTEn6QrPDIAZy2ykdHX7XrNWDGOlxpTjkPpHJmmDIQTZn/mMADuhVhIm03aFyVbUxpHSU+v7N8yxV5RehIw0RTy+qSjWcthDgTGPjPk1a2sElNVbsgF4VhqpdUfzG0BQCqr+zPDbeH66+gumDPXC5Pw4NQB596UWPDKaQv7juzveiPTpIjhTfpoWBjCmexGPbSYecXNee61NXe6HsGrGLtw/pRLEYVYH0ecU/b0A7TGd2gznKBgvk8xXoxkqHbDPoCPqC3moPD3BwCXTGNi6DBDAquC/Ho266AgZ+z83mP7TuDJmZ/F4f/glbb2hdZ6ITDS7Dvd+jGlw6UXlKeZThHOy+B1c9at4FeyQs6JBd4P5RwekUCF45gk0RfRu1+HE3YOXbN1s1DRXJs689DaBzTbD9rhROEjZgNT/m0VxC6w2i6WRvxcEvy+wL4HyJxdSK0MMVhZJza4MOB7qLvIq8z3L9kLDrKh6R49m+LsH7NCS9gh0wAH17E2cImSoX4IiRemn39oKZTplAwvvaGNXOmH/SqeZlGpYOL9Yn9nE5mC10/5In/KIZMQ== openpgp:0xF5B75815
  oh_my_zsh:
    theme: agnoster

- username: e1mo
  state: present
  sudo: yes
  public_key: |
    ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID9x/kL2fFqQSEyFvdEgiM2UKYAZyV1oct9alS6mweVa openpgp:0x6D617FD0A85BAADA
    ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBfbb4m4o89EumFjE8ichX03CC/mWry0JYaz91HKVJPb e1mo

oh_my_zsh_theme: "agnoster"

ansible_python_interpreter: "/usr/bin/python3"

unattended_mail: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    39666636373833623330643661343464336232356264313638393564376533343133396663393237
    6537663635326262373535646431373933323337646536320a663739633763343237323738626332
    63323166363261356636313039383830356562376133613735343732623535353537373666353662
    6334353064616165630a396665653363396138383231313030663065323134333235663563323438
    35313630643565383931363835326636646536376237373364306130396137363235

tlsa_data: "3 1 1 c9c26f6bbc3de806274af05fdce17eb019a6c2fb7281bf5559f5dedcc07683cb"

php_date_timezone: "Europe/Berlin"
nginx_ppa_use: true

radius_server_ip: "10.152.18.1"
radius_password: "{{ lookup('passwordstore', 'infra/radius/local') }}"
radius_password_global: "{{ lookup('passwordstore', 'infra/radius/global') }}"

ap_iot_wifi_ssid: "{{ lookup('passwordstore', 'infra/wireless/iot subkey=user') }}"
ap_iot_wifi_password: "{{ lookup('passwordstore', 'infra/wireless/iot') }}"

### LOOKING GLASS
dn42_local_v4: "172.20.190.96"
dn42_local_v6: "fdf4:2331:fa09::1"
dn42_local_as: "424242424243"

bird_lg_proxy_enabled: no
bird_lg_domain: "n0emis.dn42"
bird_lg_asn_zone: "asn.dn42"
bird_lg_webservice_port: 8000

bird_lg_access:
  - "{{ hostvars['elara.het.nue.de.n0emis.eu'].ansible_default_ipv4.address }}"
  - "{{ hostvars['elara.het.nue.de.n0emis.eu'].ansible_default_ipv6.address }}"

bird_lg_proxys:
  - name: himalia.n0emis.dn42
    address: himalia.dn42.n0emis.eu:5000
    as: "{{ dn42_local_as }}"
    ips:
      - "{{ dn42_local_v4 }}"
      - "{{ dn42_local_v6 }}"
