---
bbb_hostname: "bbb-test.n0emis.eu"
bbb_coturn_secret: "{{ lookup('passwordstore', 'infra/bbb.het.nue.de.n0emis.eu/coturn') }}"
bbb_greenlight_secret: "{{ lookup('passwordstore', 'infra/bbb.het.nue.de.n0emis.eu/greenlight') }}"
bbb_greenlight_db_password: "{{ lookup('passwordstore', 'infra/bbb.het.nue.de.n0emis.eu/greenlight/db') }}"
#bbb_letsencrypt_email: le@n0emis.eu
#bbb_letsencrypt_enable: false
bbb_greenlight_smtp:
  server: mail.n0emis.eu
  port: 587
  domain: n0emis.eu
  username: no-reply@n0emis.eu
  password: "{{ lookup('passwordstore', 'comm/mail.n0emis.eu/noreply') }}"
  auth: plain
  starttls_auto: true
  sender: no-reply@n0emis.eu

bbb_nginx_dh: no

bbb_monitoring_all_in_one_enable: yes

oh_my_zsh_custom_config: |
  source .profile

base_additional_packages: []
