gitea_user: "git"
gitea_home: "/var/lib/gitea"
gitea_shell: "/bin/bash"
# To limit your users to 30 repos
gitea_user_repo_limit: 30
# Don't use a public CDN for frontend assets
gitea_offline_mode: true

gitea_version: "1.11.5"

# Some 'rendering' options for your URLs
gitea_http_domain: git.n0emis.eu
gitea_root_url: https://git.n0emis.eu

# Here we assume we are behind a reverse proxy that will
# handle https for us, so we bind on localhost:3000 using HTTP
gitea_protocol: http
gitea_http_listen: 127.0.0.1
gitea_http_port: 3000

# SSH server configuration
gitea_ssh_listen: 0.0.0.0
gitea_ssh_port: 22
# For URLs rendering again
gitea_ssh_domain: git.n0emis.eu
gitea_start_ssh: false

gitea_secret_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/gitea') }}"
gitea_disable_gravatar: true
# To make at least your first user register
gitea_disable_registration: true
gitea_show_registration_button: false
gitea_require_signin: false
gitea_enable_captcha: false

gitea_db_type: postgres
gitea_db_host: localhost
gitea_db_name: gitea
gitea_db_user: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/gitea/db subkey=user') }}"
gitea_db_password: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/gitea/db') }}"

gitea_show_user_email: false

ssh_deploy_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        30323637653635613131313461323135316362383739643633336536326563643933386466353735
        6163666561393536613434653832353838303265653064610a303461653230383865656263653733
        38356565343465623333383066333632646565383038393538623839393665623831313238356565
        3538393834333262380a366532613838353965336464316135333634353030663661613334353331
        37333964633235316431633962373661336531376532303932303365313232373366393664373235
        39306264343234653436343134313833376337333330666462666662663036653164656263326533
        62363132336538666163383132346361313137326665656266636233316663356435363136663939
        38633037383061636566343438316263653862303030393162373063363965393835303636306536
        37383330316266343666373364616461633131316165396230613637396334333138333133356131
        33303335366635366438393164316335376439363938356632393133316363316162653638383732
        62366163653235653535623238343266356166663938323730623139636562306332396133643236
        31616464613164313066306138313362653562653932613761663037343434616437346530663661
        37396335643232643732653562306234393066623132386236663639323130303366326231336335
        31326262653661373332643238306335356338636334663965326331316663383763343236636336
        39386635323538616364383363353534326633343662633563353837333662326633646338346566
        63353163376136613736393463633435373335303565376438353536626431633134623536373138
        37376437353465636365656138383238623661373732366636383433353831616362643535383135
        62633630333363633461663762643631633565353862326430666662666139326133613436666538
        64303132656566623661316364363231303134613666626536343761383665316535303133623636
        33663030616531663663616635623837663563616161376264636133343166333837373762353732
        34353731376138363834663335363934343536383661376139616362633939346634333037333036
        64616565613534323431303335343561316230326166313030623332616365346233643435636563
        63313866633932363736646634393335653635663136613832643262336132343564316265306436
        30393731376234393337
