---
keycloak_version: "12.0.4"

keycloak_postgresql_username: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/keycloak/db subkey=user') }}"
keycloak_postgresql_password: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/keycloak/db') }}"
keycloak_postgresql_database: "keycloak"
keycloak_admin_password: "{{ lookup('passwordstore', 'auth.n0emis.eu/admin') }}"
keycloak_configure_firewall: false
keycloak_bind_address: 127.0.0.1
keycloak_http_port: 8081
keycloak_management_http_port: 9990
keycloak_welcome_theme: "n0emis-keycloak-theme"
keycloak_profile_preview: true

keycloak_java_opts: "-Xms256m -Xmx768m"

keycloak_registration_captcha_version: "1.1.0"
keycloak_registration_captcha_url: "https://github.com/chaos-jetzt/keycloak-registration-captcha/releases/download/v{{ keycloak_registration_captcha_version }}/registration-captcha.jar"

keycloak_metrics_spi_version: "2.3.1"
keycloak_metrics_spi_url: "https://github.com/aerogear/keycloak-metrics-spi/releases/download/{{ keycloak_metrics_spi_version }}/keycloak-metrics-spi-{{ keycloak_metrics_spi_version }}.jar"
