---
php_webserver_daemon: nginx
php_enable_php_fpm: true
php_use_managed_ini: true
php_default_version_debian: "7.4"

php_packages_extra:
  - "php{{ php_default_version_debian }}-zip"
  - "php{{ php_default_version_debian }}-xml"
  - "php{{ php_default_version_debian }}-curl"
  - "php{{ php_default_version_debian }}-gd"
  - "php{{ php_default_version_debian }}-mbstring"
  - "php{{ php_default_version_debian }}-pgsql"
  - "php{{ php_default_version_debian }}-bcmath"
  - "php{{ php_default_version_debian }}-gmp"
  - "php{{ php_default_version_debian }}-intl"
  - "php{{ php_default_version_debian }}-imagick"
  - "php{{ php_default_version_debian }}-redis"
  - "php{{ php_default_version_debian }}-ldap"
php_memory_limit: "1024M"
php_fpm_pm_max_children: 120
php_fpm_pm_start_servers: 12
php_fpm_pm_min_spare_servers: 6
php_fpm_pm_max_spare_servers: 18
php_fpm_clear_env: "no"

php_opcache_enable: "1"
php_opcache_interned_strings_buffer: "8"
php_opcache_max_accelerated_files: "10000"
php_opcache_memory_consumption: "128"
php_opcache_revalidate_freq: "1"

nextcloud_version: "20.0.2"
