---
borgmatic_hooks:
  postgresql_databases:
    - name: all

postgresql_all_users:
  - name: root
    role_attr_flags: "SUPERUSER"

prostgresql_users: "{{ postgresql_host_users + postgresql_all_users }}"
