
config dnsmasq
	option domainneeded '1'
	option localise_queries '1'
	option rebind_protection '0'
	option local '/int.goe.de.n0emis.eu/'
	option domain 'int.goe.de.n0emis.eu'
	option expandhosts '1'
	option authoritative '1'
	option readethers '1'
	option leasefile '/root/dhcp.leases'
	option resolvfile '/tmp/resolv.conf.auto'
	option localservice '0'
	option sequential_ip '1'
	option cachesize '0'
	option nonegcache '1'
	option dnsforwardmax '50'
	option tftp_root '/root/tftp'
	option enable_tftp '1'
	list server '1.1.1.1'
	list server '/tra.vel.xz.n0emis.eu/10.152.12.1'
	list server '/dn42/172.20.0.53'
	list server '/github.com/2a01:4f9:c010:3f02::1'
	list server '/amazonaws.com/2a01:4f9:c010:3f02::1'
	list server '/acme-dns.n0emis.eu/78.46.251.132#5303'
	list server '/cccgoe/fdf8:7e7f:d097:9900::1'

config dhcp 'lan'
	option interface 'lan'
	option start '513'
	option leasetime '24d'
	option dhcpv6 'server'
	option ra 'server'
	option limit '511'
	option ra_management '1'

config dhcp 'srvkallisto'
	option interface 'srvkallisto'
	option leasetime '24d'
	option dhcpv6 'server'
	option ra 'server'
	option limit '230'
	option ra_management '1'
	option start '10.152.4.16'

config dhcp 'voip'
	option start '100'
	option leasetime '12h'
	option limit '150'
	option interface 'voip'
	list dhcp_option '66,10.152.6.1'

config dhcp 'wan'
	option interface 'wan'
	option ignore '1'

config odhcpd 'odhcpd'
	option maindhcp '0'
	option leasefile '/tmp/hosts/odhcpd'
	option leasetrigger '/usr/sbin/odhcpd-update'
	option loglevel '4'

{% for host in router_static_hosts %}
config host
	option name '{{ host.name }}'
	option dns '1'
	option ip '{{ host.v4 }}'
	option mac '{{ host.mac }}'
{% if host.hostid is defined %}
	option hostid '{{ host.hostid }}'
{% endif %}

{% endfor %}
