# This file is interpreted as shell script.
# Put your custom iptables rules here, they will
# be executed with each firewall (re-)start.

# Internal uci firewall chains are flushed and recreated on reload, so
# put custom rules into the root chains e.g. INPUT or FORWARD or into the
# special user chains, e.g. input_wan_rule or postrouting_lan_rule.

source /lib/functions/network.sh
network_get_ipaddr wan wan

{% for port in router_port_redirect %}
{% if port.reflection_nets is defined %}
{% for port_reflection_net in port.reflection_nets %}
iptables -t nat -A zone_{{ port_reflection_net }}_prerouting -d $wan/32 -p tcp -m tcp --dport {{ port.port }} -j DNAT --to-destination {{ port.ip }}:{{ port.port }} -m comment --comment "fw3_firewall_user: Port Forward {{ port.name }} {{ port_reflection_net }} (reflection)"
{% endfor %}
{% endif %}
{% endfor %}

iptables -t nat -A PREROUTING -d 10.152.4.1/32 -p tcp -m tcp --dport 80 -j DNAT --to-destination 10.152.4.5:80 -m comment --comment "fw3_firewall_user: Port Forward 80 lan kallisto->pasiphae"
iptables -t nat -A PREROUTING -d 10.152.4.1/32 -p tcp -m tcp --dport 443 -j DNAT --to-destination 10.152.4.5:443 -m comment --comment "fw3_firewall_user: Port Forward 443 lan kallisto->pasiphae"

iptables -t nat -A PREROUTING -d 10.152.4.41/32 -p tcp -m tcp --dport 80 -j DNAT --to-destination 10.152.4.5:80 -m comment --comment "fw3_firewall_user: Port Forward 80 lan foo->pasiphae"
iptables -t nat -A PREROUTING -d 10.152.4.41/32 -p tcp -m tcp --dport 443 -j DNAT --to-destination 10.152.4.5:443 -m comment --comment "fw3_firewall_user: Port Forward 443 lan foo->pasiphae"

iptables -t nat -A PREROUTING -d 10.152.4.56/32 -p tcp -m tcp --dport 80 -j DNAT --to-destination 10.152.4.5:80 -m comment --comment "fw3_firewall_user: Port Forward 80 lan 3cx->pasiphae"
iptables -t nat -A PREROUTING -d 10.152.4.56/32 -p tcp -m tcp --dport 443 -j DNAT --to-destination 10.152.4.5:443 -m comment --comment "fw3_firewall_user: Port Forward 443 lan 3cx->pasiphae"

ip6tables -t nat -A PREROUTING -d 2001:470:7694::2/128 -p tcp -m tcp --dport 80 -j DNAT --to-destination 2001:470:7694:0:8c85:c2ff:fe81:9ed9 -m comment --comment "fw3_firewall_user: Port Forward 80 lan kallisto->pasiphae"
ip6tables -t nat -A PREROUTING -d 2001:470:7694::2/128 -p tcp -m tcp --dport 443 -j DNAT --to-destination 2001:470:7694:0:8c85:c2ff:fe81:9ed9 -m comment --comment "fw3_firewall_user: Port Forward 443 lan kallisto->pasiphae"

iptables -t nat -A PREROUTING -p udp --dst 10.161.161.161 --dport 161 -j DNAT --to-destination 10.152.0.3
iptables -t nat -A PREROUTING -p icmp --dst 10.161.161.161 -j DNAT --to-destination 10.152.0.3
iptables -t nat -A POSTROUTING -p icmp --dst 10.152.0.3 -j SNAT --to-source 10.152.0.1
