
config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'

config interface 'wan'
	option proto 'pppoe'
	option username '{{ lookup('passwordstore', 't-online.de subkey=ppp') }}'
	option password '{{ lookup('passwordstore', 't-online.de') }}'
	option ifname 'eth0.7'
	option host_uniq 'E80D0000'
	option ipv6 'auto'

config interface 'henet'
	option proto '6in4'
	option peeraddr '216.66.80.30'
	option ip6addr '2001:470:1f0a:bec::2/64'
	option username 'n0emis'
	option tunnelid '{{ lookup('passwordstore', 'tunnelbroker.net/int.goe.de subkey=user') }}'
	option password '{{ lookup('passwordstore', 'tunnelbroker.net/int.goe.de') }}'
	list ip6prefix '2001:470:1f0b:bed::/64'
	list ip6prefix '2001:470:7694::/48'

config interface 'lan'
	option type 'bridge'
	option proto 'static'
	option ipaddr '10.152.0.1'
	option netmask '255.255.252.0'
	option ip6assign '60'
	option ip6hint '10'
	option ifname 'eth0 eth1 eth2'
	list ip6class 'wan_6'
	list ip6class 'cccgoevpn'

config interface 'srvkallisto'
	option type 'bridge'
	option proto 'static'
	option ipaddr '10.152.4.254'
	option netmask '255.255.255.0'
	option ip6assign '64'
	option ip6hint '0'
	option ifname 'eth1.4'
	list ip6class 'henet'
	list ip6class 'cccgoevpn'

{% for wireguard_interface in router_wireguard_interfaces %}
config interface '{{ wireguard_interface.name }}'
	option proto 'wireguard'
	option private_key '{{ wireguard_interface.private_key }}'
{% if wireguard_interface.listen_port is defined %}
	option listen_port '{{ wireguard_interface.listen_port }}'
{% endif %}
{% for address in wireguard_interface.addresses %}
	list addresses '{{ address }}'
{% endfor %}
{% if wireguard_interface.ip6gw is defined %}
	option ip6gw '{{ wireguard_interface.ip6gw }}'
{% endif %}
{% if wireguard_interface.nohostroute is defined %}
	option nohostroute '1'
{% endif %}
{% for prefix in wireguard_interface.ip6prefix %}
	list ip6prefix '{{ prefix }}'
{% endfor %}

{% for peer in wireguard_interface.peers %}
config wireguard_{{ wireguard_interface.name }} '{{ peer.name }}'
	option description '{{ peer.name }}'
	option public_key '{{ peer.public_key }}'
{% if peer.endpoint_host is defined %}
	option endpoint_host '{{ peer.endpoint_host }}'
	option endpoint_port '{{ peer.endpoint_port }}'
{% endif %}
{% for allowed_ip in peer.allowed_ips %}
	list allowed_ips '{{ allowed_ip }}'
{% endfor %}
{% if peer.persistent_keepalive is defined %}
	option persistent_keepalive '{{ peer.persistent_keepalive }}'
{% endif %}
{% if peer.route_allowed_ips is defined %}
	option route_allowed_ips '{{ peer.route_allowed_ips }}'
{% endif %}
{% endfor %}

{% endfor %}
