
config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'

config interface 'wan'
	option proto 'pppoe'
	option username '{{ lookup('passwordstore', 't-online.de subkey=ppp') }}'
	option ipv6 'auto'
	option password '{{ lookup('passwordstore', 't-online.de') }}'
	option ifname 'eth0.7'
	option host_uniq 'E80D0000'

config interface 'henet'
	option proto '6in4'
	option peeraddr '216.66.80.30'
	option ip6addr '2001:470:1f0a:bec::2/64'
	option username 'n0emis'
	option tunnelid '{{ lookup('passwordstore', 'tunnelbroker.net/int.goe.de subkey=user') }}'
	option password '{{ lookup('passwordstore', 'tunnelbroker.net/int.goe.de') }}'
	list ip6prefix '2001:470:1f0b:bed::/64'
	list ip6prefix '2001:470:7694::/48'

config interface 'lan'
	option type 'bridge'
	option proto 'static'
	option ipaddr '10.152.0.1'
	option netmask '255.255.252.0'
	option ip6assign '60'
	option ip6hint '10'
	option ifname 'eth0 eth1 eth2'

config interface 'knet'
	option type 'bridge'
	option proto 'static'
	option ipaddr '10.152.4.254'
	option netmask '255.255.255.0'
	option ip6assign '60'
	option ifname 'eth1.4'
	option ip6hint '0'

