
config system
	option hostname 'io'
	option ttylogin '0'
	option log_size '64'
	option urandom_seed '0'
	option zonename 'Europe/Berlin'
	option cronloglevel '5'
	option log_proto 'udp'
	option conloglevel '8'
	option timezone 'CET-1CEST,M3.5.0,M10.5.0/3'

config timeserver 'ntp'
	list server '0.openwrt.pool.ntp.org'
	list server '1.openwrt.pool.ntp.org'
	list server '2.openwrt.pool.ntp.org'
	list server '3.openwrt.pool.ntp.org'
