[submodule "roles/base"]
	path = roles/base
	url = https://github.com/n0emis/ansible-role-base
[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "roles/mailcow"]
	path = roles/mailcow
	url = git@github.com:n0emis/ansible-role-base.git
	branch = redirect-option
[submodule "roles/docker"]
	path = roles/docker
	url = https://git.labcode.dev/ansible_roles/docker
[submodule "roles/openwrt"]
	path = roles/openwrt
	url = https://github.com/gekmihesg/ansible-openwrt
