[submodule "roles/base"]
	path = roles/base
	url = https://github.com/n0emis/ansible-role-base
[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "roles/mailcow"]
	path = roles/mailcow
	url = git@github.com:n0emis/ansible-role-base.git
	branch = redirect-option
[submodule "roles/docker"]
	path = roles/docker
	url = https://git.labcode.dev/ansible_roles/docker
[submodule "roles/bigbluebutton"]
	path = roles/n0emis.bigbluebutton
	url = https://github.com/softwaremill/ansible-bigbluebutton
[submodule "roles/nodejs"]
	path = roles/geerlingguy.nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs
[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "roles/gantsign.oh-my-zsh"]
	path = roles/gantsign.oh-my-zsh
	url = https://github.com/gantsign/ansible-role-oh-my-zsh/
