[submodule "roles/base"]
	path = roles/base
	url = https://github.com/n0emis/ansible-role-base
[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "roles/mailcow"]
	path = roles/mailcow
	url = https://github.com/mailcow/mailcow-ansiblerole
[submodule "roles/em0lar.docker"]
	path = roles/em0lar.docker
	url = https://git.labcode.dev/ansible_roles/docker
[submodule "roles/bigbluebutton"]
	path = roles/n0emis.bigbluebutton
	url = https://github.com/n0emis/ansible-role-bigbluebutton
[submodule "roles/nodejs"]
	path = roles/geerlingguy.nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs
[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "roles/gantsign.oh-my-zsh"]
	path = roles/gantsign.oh-my-zsh
	url = https://github.com/gantsign/ansible-role-oh-my-zsh
[submodule "roles/openwrt"]
	path = roles/openwrt
	url = https://github.com/gekmihesg/ansible-openwrt
[submodule "roles/n0emis.yate"]
	path = roles/n0emis.yate
	url = https://github.com/n0emis/ansible-role-yate
[submodule "roles/em0lar.traefik"]
	path = roles/em0lar.traefik
	url = https://github.com/em0lar/ansible-role-traefik
[submodule "roles/thomas_maurice.gitea"]
	path = roles/thomas_maurice.gitea
	url = https://github.com/thomas-maurice/ansible-role-gitea
[submodule "roles/geerlingguy.postgresql"]
	path = roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql
[submodule "roles/geerlingguy.php"]
	path = roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php
[submodule "roles/lae.netbox"]
	path = roles/lae.netbox
	url = https://github.com/n0emis/ansible-role-netbox
[submodule "roles/geerlingguy.redis"]
	path = roles/geerlingguy.redis
	url = https://github.com/geerlingguy/ansible-role-redis
[submodule "roles/n0emis.synapse"]
	path = roles/n0emis.synapse
	url = https://github.com/n0emis/ansible-role-synapse
[submodule "roles/n0emis.matrix-appservice-irc"]
	path = roles/n0emis.matrix-appservice-irc
	url = https://github.com/n0emis/ansible-role-matrix-appservice-irc
[submodule "roles/em0lar.keycloak"]
	path = roles/em0lar.keycloak
	url = https://git.labcode.dev/ansible_roles/keycloak-postgres
[submodule "roles/geerlingguy.java"]
	path = roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java
[submodule "roles/em0lar.hedgedoc"]
	path = roles/em0lar.hedgedoc
	url = https://git.labcode.dev/ansible_roles/hedgedoc
[submodule "roles/Oefenweb.yarn"]
	path = roles/Oefenweb.yarn
	url = https://github.com/Oefenweb/ansible-yarn
[submodule "roles/n0emis.wireguard"]
	path = roles/n0emis.wireguard
	url = https://github.com/n0emis/ansible-wireguard
[submodule "roles/n0emis.bird-lg"]
	path = roles/n0emis.bird-lg
	url = https://git.n0emis.eu/ansible_roles/bird-lg
[submodule "roles/n0emis.dn42"]
        path = roles/n0emis.dn42
        url = https://git.n0emis.eu/ansible_roles/dn42
[submodule "roles/systemli.coturn"]
	path = roles/systemli.coturn
	url = https://github.com/systemli/ansible-role-coturn
[submodule "roles/mrlesmithjr.openldap"]
	path = roles/mrlesmithjr.openldap
	url = https://github.com/mrlesmithjr/ansible-openldap
[submodule "roles/n0emis.louketo"]
	path = roles/n0emis.louketo
	url = https://git.n0emis.eu/ansible_roles/louketo
[submodule "roles/fahrplandatengarten.icinga"]
	path = roles/fahrplandatengarten.icinga
	url = https://github.com/FahrplanDatenGarten/ansible-role-icinga
[submodule "roles/atosatto.minio"]
	path = roles/atosatto.minio
	url = https://github.com/atosatto/ansible-minio
[submodule "roles/powerdns.pdns"]
	path = roles/powerdns.pdns
	url = https://github.com/PowerDNS/pdns-ansible
[submodule "roles/powerdns.pdns_recursor"]
	path = roles/powerdns.pdns_recursor
	url = https://github.com/PowerDNS/pdns_recursor-ansible
[submodule "roles/n0emis.nextcloud"]
	path = roles/n0emis.nextcloud
	url = https://git.n0emis.eu/ansible_roles/nextcloud.git
[submodule "roles/geerlingguy.nginx"]
	path = roles/geerlingguy.nginx
	url = https://github.com/geerlingguy/ansible-role-nginx
[submodule "roles/ocha.yarn"]
	path = roles/ocha.yarn
	url = https://github.com/ocha/ansible-role-yarn.git
[submodule "roles/chaos_jetzt.venueless"]
	path = roles/chaos_jetzt.venueless
	url = https://github.com/chaos-jetzt/ansible-role-venueless
[submodule "roles/em0lar.powerdns-dynamicdns"]
	path = roles/em0lar.powerdns-dynamicdns
	url = https://git.labcode.dev/ansible_roles/powerdns-dynamicdns
[submodule "roles/borgbase.borgbackup"]
	path = roles/borgbase.borgbackup
	url = https://github.com/borgbase/ansible-role-borgbackup
