---
pdns_axfr_ips:
  - "{{ hostvars['himalia.ion.rhr.de.n0emis.eu'].ansible_default_ipv4.address }}/32"
  - "{{ hostvars['himalia.ion.rhr.de.n0emis.eu'].ansible_default_ipv6.address }}/128"
  - "{{ hostvars['ganymed.het.hel.fi.n0emis.eu'].ansible_default_ipv4.address }}/32"
  - "{{ hostvars['ganymed.het.hel.fi.n0emis.eu'].ansible_default_ipv6.address }}/128"
  - "95.216.160.224/32"
  - "2a01:4f9:c010:1dcf::1/128"

pdns_also_notify:
  - "{{ hostvars['himalia.ion.rhr.de.n0emis.eu'].ansible_default_ipv6.address }}"
  - "{{ hostvars['ganymed.het.hel.fi.n0emis.eu'].ansible_default_ipv6.address }}"


pdns_config:
  master: yes
  expand-alias: yes
  local-port: 53
  resolver: 1.1.1.1
  allow-axfr-ips: "{{ pdns_axfr_ips | join(', ') }}"
  also-notify: "{{ pdns_also_notify | join(', ') }}"
  dnsupdate: yes
  allow-dnsupdate-from: ""
  webserver: yes
  webserver-address: 0.0.0.0
  webserver-allow-from: 0.0.0.0/0,::/0
  webserver-port: 8082
  slave: yes
  superslave: yes
  api: yes
  api-key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/ns.n0emis.eu') }}"
  default-soa-content: "ns.n0emis.eu. noc.n0emis.eu. 0 1800 1800 1209600 300"

pdns_service_overrides:
  ReadWritePaths: /etc/powerdns

pdns_backends:
  bind:
    config: "{{ powerdns_config_directory }}/named.conf"
    check-interval: 60
    dnssec-db: "{{ powerdns_bind_dnssec_database_file }}"
  'gsqlite3:pdns':
    database: "{{ powerdns_database_file }}"

pdns_bind_tsig_keys:
  - name: "{{ powerdns_tsig_key_name }}"
    secret: "{{ powerdns_tsig_key }}"
    algorithm: "hmac-sha512"
pdns_bind_domains_tsig:
  - { domain: n0emis.eu, key: "{{ powerdns_tsig_key_name }}" }
  - { domain: noemis.me, key: "{{ powerdns_tsig_key_name }}" }
