{{ ansible_managed | comment }}
[Unit]
Description=PowerDNS-Admin
Requires=powerdns-admin.socket
After=syslog.target

[Service]
ExecStart=/usr/bin/env uwsgi --ini {{ powerdns_admin_directory }}/uwsgi.ini
ExecReload=/bin/kill -1 $MAINPID
ExecStop=/bin/kill -2 $MAINPID
StandardInput=socket
StandardOutput=journal
StandardError=journal
User={{ powerdns_admin_user }}
Group={{ powerdns_admin_group }}
Restart=on-failure
SuccessExitStatus=15 17 29 30
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
PrivateTmp=yes
ProtectSystem=full
ReadWriteDirectories={{ powerdns_admin_directory }}
DeviceAllow=/dev/null rw
DeviceAllow=/dev/urandom r
DeviceAllow=/dev/zero r
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
