config wifi-device 'radio0'
	option type 'mac80211'
	option channel '11'
	option hwmode '11g'
	option path 'pci0000:00/0000:00:11.0'
	option htmode 'HT20'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option server '{{ ap_radius_server_ip }}'
	option mode 'ap'
	option encryption 'wpa2'
	option auth_port '1812'
	option auth_secret '{{ ap_radius_password }}'
	option network 'lan'
	option ssid 'KeksKruemel'
	option auth_server '{{ ap_radius_server_ip }}'

config wifi-device 'radio1'
	option type 'mac80211'
	option channel '36'
	option hwmode '11a'
	option path 'pci0000:00/0000:00:12.0'
	option htmode 'HT20'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option mode 'ap'
	option encryption 'wpa2'
	option server '{{ ap_radius_server_ip }}'
	option port '1812'
	option auth_port '1812'
	option auth_secret '{{ ap_radius_password }}'
	option auth_server '{{ ap_radius_server_ip }}'
	option network 'lan'
	option ssid 'KeksKruemel'

config wifi-iface 'wifinet0'
	option device 'radio1'
	option mode 'ap'
	option encryption 'none'
	option network 'lan3'
	option ssid 'Freifunk'

config wifi-iface 'wifinet1'
	option device 'radio0'
	option mode 'ap'
	option encryption 'none'
	option ssid 'Freifunk'
	option network 'lan3'

config wifi-iface 'wifinet4'
	option device 'radio0'
	option mode 'ap'
	option encryption 'psk2'
	option key '{{ ap_iot_wifi_password }}'
	option ssid '{{ ap_iot_wifi_ssid }}'
	option network 'lan'

config wifi-iface 'wifinet5'
	option device 'radio1'
	option mode 'ap'
	option encryption 'psk2'
	option key '{{ ap_iot_wifi_password }}'
	option ssid '{{ ap_iot_wifi_ssid }}'
	option network 'lan'
