---
dn42_local_v4: "172.20.190.96"
dn42_local_v6: "fdf4:2331:fa09::1"
dn42_local_as: "4242420197"

bird_lg_proxy_enabled: no
bird_lg_domain: "n0emis.dn42"
bird_lg_asn_zone: "asn.dn42"
bird_lg_webservice_port: 8000

bird_lg_access:
  - "{{ hostvars['elara.het.nue.de.n0emis.eu'].local_v4 }}"

bird_lg_proxys:
  - name: himalia.ion.rhr.de
    address: "{{ hostvars['himalia.ion.rhr.de.n0emis.eu'].local_v4 }}:5000"
    as: "{{ dn42_local_as }}"
    ips:
      - "{{ hostvars['himalia.ion.rhr.de.n0emis.eu'].dn42_local_v4 }}"
      - "{{ hostvars['himalia.ion.rhr.de.n0emis.eu'].dn42_local_v6 }}"
  - name: ganymed.het.hel.fi
    address: "{{ hostvars['dn42.ganymed.het.hel.fi.n0emis.eu'].local_v4 }}:5000"
    as: "{{ dn42_local_as }}"
    ips:
      - "{{ hostvars['dn42.ganymed.het.hel.fi.n0emis.eu'].dn42_local_v4 }}"
      - "{{ hostvars['dn42.ganymed.het.hel.fi.n0emis.eu'].dn42_local_v6 }}"
  - name: chaldene.gwd.goe.de
    address: "{{ hostvars['dn42.chaldene.gwd.goe.de.n0emis.eu'].local_v4 }}:5000"
    as: "{{ dn42_local_as }}"
    ips:
      - "{{ hostvars['dn42.chaldene.gwd.goe.de.n0emis.eu'].dn42_local_v4 }}"
      - "{{ hostvars['dn42.chaldene.gwd.goe.de.n0emis.eu'].dn42_local_v6 }}"
