[phones]
{% for phone in asterisk_phones %}
exten => {{ phone.number }},1,Dial(PJSIP/{{ phone.name }},60,t)
{% endfor %}

{% for phone in asterisk_phones %}
[from-{{ phone.name }}]
include => phones
exten => _00Z.,1,Dial(PJSIP/${EXTEN}@{{ phone.outgoing | default(asterisk_default_outgoing) }}_out)
exten => _0Z.,1,Dial(PJSIP/${EXTEN}@{{ phone.outgoing | default(asterisk_default_outgoing) }}_out)
exten => _Z.,1,Dial(PJSIP/0049551${EXTEN}@{{ phone.outgoing | default(asterisk_default_outgoing) }}_out)

{% endfor %}

[to-internal]
{% for trunk in asterisk_trunks %}
exten => {{ trunk.callerid }},1,Dial(PJSIP/{{ trunk.phones | join('&PJSIP/') }},60,t)
same => n,Hangup()
{% endfor %}
