http:
  routers:
    service-codimd-http:
      rule: "Host(`md.n0emis.eu`) || Host(`md.noemis.me`)"
      service: "service-codimd@file"
      entryPoints:
        - "http"
      middlewares:
        - "https_redirect"
    service-codimd-https:
      rule: "Host(`md.n0emis.eu`) || Host(`md.noemis.me`)"
      service: "service-codimd@file"
      entryPoints:
        - "https"
      tls:
        certResolver: "{{ traefik_default_cert_resovler }}"
      middlewares:
        - "service-codimd-cors"
  services:
    service-codimd:
      loadBalancer:
        servers:
          - url: "http://localhost:{{ hedgedoc_port }}"
  middlewares:
    service-codimd-cors:
      headers:
        accessControlAllowOriginList:
          - https://md.n0emis.eu
          - https://md.noemis.me
