@ 3600 IN SOA ns.n0emis.eu. noc.n0emis.eu. (
    {{ soa_serial }} ; serial ;;; UPDATE THIS AFTER EACH EDIT!
    1800       ; refresh (30 min)
    1800       ; retry (30 min)
    86400      ; expire (1 day)
    3600       ; minimum (1 hour)
)

@ 3600 IN NS {{ ns_fqdn }}.
ns IN A {{ ns_v4 }}
ns IN AAAA {{ ns_v6 }}

{% for record in v4_records %}
{{ record['domain'] }}.dyn.n0emis.de. 60 A {{ record['address'] }}
{% endfor %}

{% for record in v6_records %}
{{ record['domain'] }}.dyn.n0emis.de. 60 AAAA {{ record['address'] }}
{% endfor %}
