---
ansible_python_interpreter: "/usr/bin/python3"

wireguard_server_address: "10.152.18.1/32"

powerdns_secondary_names:
  - ns.n0emis.eu
  - ns1.n0emis.eu

postgresql_host_users:
  - name: "{{ synapse_database_user }}"
    password: "{{ synapse_database_password }}"
  - name: "{{ keycloak_postgresql_username }}"
    password: "{{ keycloak_postgresql_password }}"
  - name: "{{ gitea_db_user }}"
    password: "{{ gitea_db_password }}"
  - name: "{{ mautrix_signal_db_user }}"
    password: "{{ mautrix_signal_db_password }}"
  - name: "{{ matrix_media_repo_db_user }}"
    password: "{{ matrix_media_repo_db_password }}"
postgresql_databases:
  - name: "{{ synapse_database_database }}"
    owner: "{{ synapse_database_user }}"
    lc_collate: 'C'
    lc_ctype: 'C'
  - name: "{{ keycloak_postgresql_database }}"
    owner: "{{ keycloak_postgresql_username }}"
  - name: "{{ gitea_db_name }}"
    owner: "{{ gitea_db_user }}"
  - name: "{{ mautrix_signal_db_name }}"
    owner: "{{ mautrix_signal_db_user }}"
  - name: "{{ matrix_media_repo_db_user }}"
    owner: "{{ matrix_media_repo_db_name }}"

coturn_static_auth_secret: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/coturn') }}"
coturn_realm: "turn.n0emis.eu"

pdns_rec_forward_dyn: "127.0.0.1:5300"
