---
wireguard_server_address: "10.152.20.1/32"

powerdns_secondary_names:
  - ns2.n0emis.eu

traefik_user: root

traefik_tls_letsencrypt_challenges_http:
  enable: no
traefik_tls_letsencrypt_challenges_tls:
  enable: yes
  email: "le@services.n0emis.eu"
  name: "le_tls" # Name of the certificate resolver
  storage: "{{ traefik_config_directory }}/acme.json"
traefik_default_cert_resovler: "le_tls"

traefik_dashboard:
  enable: no

icinga2_check_packages:
  - fdgmon-group-essential
  - fdgmon-check-ssl-cert
