---
wireguard_networks:
  - wg-cgvpn
  - wg-cgvpn-c
  - wg-dn42

wireguard_wg-cgvpn_interface:
  address: fdf8:7e7f:d097:9900::4/48
  private_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/wg-cgvpn') }}"
  listen_port: 41001
wireguard_wg-cgvpn_peers:
  panda:
    endpoint: panda1.s-klamt.de:23138
    public_key: "tTEcFySDPkYo6M/nVH1GHYAyTbC65YgL0kk+XGpb9DA="
    allowed_ips: "fdf8:7e7f:d097:9910::/60, fdf8:7e7f:d097:9900::1/128"
  dewitte:
    endpoint: vpn.reichel.one:42023
    public_key: "NT6pY3uXAQbPnr7oQ8TPU7CPf55cVGxRnbY6Y2IQmGU="
    allowed_ips: "fdf8:7e7f:d097:9920::/60, fdf8:7e7f:d097:9900::2/128"
  frink:
    endpoint: sg46lan.spdns.de:51822
    public_key: "yxtoqUZREgiz6DcyJHRtTcmtzSdjSZKWIgdp8D9Fmy4="
    allowed_ips: "fdf8:7e7f:d097:9930::/60, fdf8:7e7f:d097:9900::3/128"

wireguard_wg-cgvpn-c_interface:
  address: fdf8:7e7f:d097:9940::1/60
  private_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/wg-cgvpn') }}"
  listen_port: 41002
wireguard_wg-cgvpn-c_peers:
  adrastea:
    public_key: "HIbjMOH9UGk0zNI1nI0bmLRVB5ncnBWI3zoP7YuXpQQ="
    allowed_ips: "fdf8:7e7f:d097:9940::10/128"
  e1mo:
    public_key: "eokxpF/8WT0ull71TSnM6MWTT/gA4i1dOxSlJwjdZ3c="
    allowed_ips: "fdf8:7e7f:d097:9940::20/128"

wireguard_wg-dn42_interface:
  address: "fdf4:2331:fa09::2:1/48, {{ dn42_local_v4 }}/27"
  private_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/wg-cgvpn') }}"
  listen_port: 41003
wireguard_wg-dn42_peers:
  adrastea:
    public_key: "HIbjMOH9UGk0zNI1nI0bmLRVB5ncnBWI3zoP7YuXpQQ="
    allowed_ips: "fdf4:2331:fa09::2:2/128, 172.20.190.126"

### DNSMASQ
dnsmasq_dnsmasq_conf:
  - |
    port=53
    bind-interfaces
    except-interface=dn42_*

dnsmasq_dnsmasq_d_files_present:
  dn42:
    - address=/himalia.n0emis.dn42/{{ dn42_local_v4 }}
    - address=/himalia.n0emis.dn42/{{ dn42_local_v6 }}
    - "server=/n0emis.dn42/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv4.address }}"
    - "server=/n0emis.dn42/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv6.address }}"
    - server=/dn42/172.20.0.53
    - server=/20.172.in-addr.arpa/172.20.0.53
    - server=/21.172.in-addr.arpa/172.20.0.53
    - server=/22.172.in-addr.arpa/172.20.0.53
    - server=/23.172.in-addr.arpa/172.20.0.53
    - server=/d.f.ip6.arpa/fd42:d42:d42:54::1
  cccgoe:
    - server=/cccgoe/fdf8:7e7f:d097:9900::1
    - server=/7.9.0.d.f.7.e.7.8.f.d.f.ip6.arpa/fdf8:7e7f:d097:9900::1
  n0emis:
    - "server=/n0emis.eu/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv4.address }}"
    - "server=/n0emis.eu/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv6.address }}"
    - "server=/n0emis.de/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv4.address }}"
    - "server=/n0emis.de/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv6.address }}"
    - "server=/noemis.me/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv4.address }}"
    - "server=/noemis.me/{{ hostvars['elara.het.nbg.de.n0emis.eu'].ansible_default_ipv6.address }}"

### LOOKING GLASS
bird_lg_webservice_enabled: no
bird_lg_proxy_enabled: yes

### DN42
dn42_wg_private_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/default') }}"

dn42_local_subnet_v4: "172.20.190.96/27"
dn42_local_subnet_v6: "fdf4:2331:fa09::/48"
dn42_local_v4: "172.20.190.96"
dn42_local_v6: "fdf4:2331:fa09::1"
dn42_local_as: "4242420197"

dn42_enable_roa: yes

dn42_pingfinder_enable: yes
dn42_pingfinder_uuid: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/pingfinder') }}"

dn42_peers:
  - name: "v0tti"
    as: "4242423929"
    v6: "fe80::42:1"
    if:
      v6: "fe80::42:42:1"
    wg:
      port: "42001"
      endpoint: "dn42.v0tti.com:1202"
      pubkey: "r8C+hxEcgQ8m5ic20TPbQ4xx5lFYIikouv5yDaNq8AU="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/v0tti') }}"
  - name: "margau"
    as: "4242421280"
    v6: "fde3:4c0d:2836:ff00::6"
    if:
      v6: "fde3:4c0d:2836:ff00::7"
    wg:
      port: "42002"
      endpoint: "wg1.margau.ipv6.church:51823"
      pubkey: "OoGS3vepyVU1tuHSUWJv2jIXJTF7RqOvvQcGC/SJslE="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/margau') }}"
  - name: "zotan"
    as: "4242422341"
    v4: "172.20.177.34"  # We are doing multiprotocol
    v6: "fe80::3"
    multiprotocol: yes
    if:
      v4: "172.20.190.96"
      v6: "fe80::42:42:1"
    wg:
      port: "42004"
      endpoint: "nbg1.dn42.zotan.network:42430"
      pubkey: "PlMza8PC6N58vpGqMsBo3UjvjXThl/2WCTK6drjqbgY="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/default') }}"
  - name: "hexanet"
    as: "4242423078"
    v6: "fe80::c:3621"
    if:
      v6: "fe80::42:42:1"
    wg:
      port: "42005"
      endpoint: "2a01:4f8:c0c:bd02::2:30197"
      pubkey: "5XpUor03B3DBHIMx0Z4ufOg7qCGtBqlYXfraRqncRlI= "
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/default') }}"
  - name: "nex"
    as: "4242423012"
    v6: "fd9b:37f7:faf7:3000::6:1"
    if:
      v6: "{{ dn42_local_v6 }}"
    wg:
      port: "42006"
      endpoint: "n-gw-1.nexadn.de:51826"
      pubkey: "M4qEMGbc5wHYYrttAQz0klvw491bFtSSttk4MoY0QFI="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/default') }}"
  - name: "mebus"
    as: "4242420112"
    v6: "fdf4:2331:fa09:ff00::2"
    if:
      v6: "fdf4:2331:fa09:ff00::1"
    wg:
      port: "42007"
      endpoint: "[2a00:8a60:e019:10de:5054:ff:fed3:70b0]:12612"
      pubkey: "hZv2RTGFAkF3QTHxqwOqwfT8lAGyr7A3J0w+iWwj/S4="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/default') }}"
  - name: "chrismoos"
    as: "4242421588"
    v4: "172.20.16.141"
    v6: "fe80::1588"
    if:
      v6: "fe80::100"
    wg:
      port: "42008"
      endpoint: "de-fra02.dn42.tech9.io:54310"
      pubkey: "MD1EdVe9a0yycUdXCH3A61s3HhlDn17m5d07e4H33S0="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/chrismoos') }}"
  - name: "xesxen"
    as: "4242420246"
    v4: "172.20.14.95"
    v6: "fe80::7f61:c133:f5a6"
    if:
      v6: "fe80::42:42:1"
    wg:
      port: "42009"
      endpoint: "do-ams3-1.dn42.hackzone.nl:20197"
      pubkey: "eahB0ySIucY6XIsq5mYiyjMDrxlXvH2ffmKIb6WDRFI="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/default') }}"
  - name: "wrmsr"
    as: "4242421555"
    v4: "172.20.233.34"
    v6: "fe80::0197"
    multiprotocol: yes
    if:
      v6: "fe80::42:42:1"
    wg:
      port: "51555"
      endpoint: "de-fra1.dn42.mcl.gg:40197"
      pubkey: "lPc/Oqm5PjO5QyPEEL93H/QXqlLUMIg/4imzTSqJa0c="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/wrmsr') }}"
  - name: "marropax"
    as: "4242420880"
    v4: "172.21.106.97"
    v6: "fe80::beef"
    multiprotocol: yes
    if:
      v6: "fe80::42:42:1"
    wg:
      port: "50880"
      endpoint: "dn42-eu.marropax.com:20197"
      pubkey: "2NjtKD8MdHnxAZMuoXNlN4n5HrJZW2bnudswDNUvSHs="
      privkey: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/dn42/default') }}"
