---
router_static_hosts:
  - name: kallisto
    v4: 10.152.4.1
    mac: 6c:3b:e5:0d:83:e3
    hostid: 2
  - name: cs
    v4: 10.152.0.2
    mac: ec:b1:d7:f1:e6:40
  - name: gw
    v4: 10.152.0.3
    mac: 00:1d:aa:91:dd:9c

  - name: ap-wrt-00
    v4: 10.152.0.130
    mac: 00:8e:f2:4b:f1:ae
  - name: ap-wrt-01
    v4: 10.152.0.131
    mac: 4c:60:de:ea:bd:4d
  - name: ap-wrt-02
    v4: 10.152.0.132
    mac: 00:8e:f2:4b:ee:a2

  - name: grandstream
    v4: 10.152.1.1
    mac: c0:74:ad:0b:e1:f5
    hostid: 2
  - name: fritz
    v4: 10.152.1.2
    mac: 34:81:c4:ed:4a:2d
  - name: printer
    v4: 10.152.1.3
    mac: f8:d0:27:56:be:b3
  - name: volumio
    v4: 10.152.1.4
    mac: b8:27:eb:30:b9:9a

  - name: ipa
    v4: "{{ ap_radius_server_ip }}"
    mac: D6:8B:7F:C5:6C:59

router_port_redirect:
  - name: ssh
    port: 22
    network: srvkallisto
    ip: 10.152.4.1
  - name: http
    port: 80
    network: srvkallisto
    ip: 10.152.4.1
  - name: https
    port: 443
    network: srvkallisto
    ip: 10.152.4.1
  - name: pve
    port: 8006
    network: srvkallisto
    ip: 10.152.4.1
  - name: mc
    port: 25565
    network: srvkallisto
    ip: 10.152.4.1

dtag_user: "{{ lookup('passwordstore', 't-online.de subkey=email') }}"
dtag_password: "{{ lookup('passwordstore', 't-online.de') }}"

asterisk_trunks:
#  - name: "dtag_test"
#    callerid: "00495515316380"
#    domain: "tel.t-online.de"
#    password: "{{ dtag_password }}"
#    username: "{{ dtag_user }}"
  - name: "dtag_pfarramt"
    callerid: "00495515316375"
    domain: "tel.t-online.de"
    password: "{{ dtag_password }}"
    username: "{{ dtag_user }}"
    phones:
      - "esszimmer"
  - name: "dtag_privat"
    callerid: "0049551484725"
    domain: "tel.t-online.de"
    password: "{{ dtag_password }}"
    username: "{{ dtag_user }}"
    phones:
      - "wohnzimmer"
      - "doerte"
      - "schlafzimmer"
      - "wolfgang"
      - "simeon"
      - "gaeste"
      - "dect_haus"
      - "dect_simeon"

asterisk_default_outgoing: "dtag_privat"
asterisk_default_password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"

dyndns_enable: yes
dyndns_pubkey: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDbJ2KHXYON7CyAC2S3BIyLKS/jLI1F7/eG0L4qts/8ieQOvIZb2H3zVCIrjBrkPoQ4+Th/huSd3qfIYrJgNGdki+jRoiop9NCYSJ4++Cypm/w6tA698MTLvP9kneMpCfaKrbjv6fyyY4nIjyOCylznFueq81fosGYmTyxa3/opz4Paody9Xoigz+f5f4rEOHp86TxRk1wC5+IusNX6eX8PTX6GTqEu09FdeX8FitWnHAMfpqfeN0YqvKKUcJ1pZ3kxhASHdwLE4NPTXBUbF9B4dPeOLtYHqMI0AdvBhNEpIVJyAPZPJVyZzQYp7L2vMa+xidk6NhFgSmTXOtVmUOKv root@io"
dyndns_zone: io.int.goe.de

asterisk_phones:
  - name: "esszimmer"
    number: '01'
    outgoing: "dtag_pfarramt"
  - name: "wohnzimmer"
    number: '02'
  - name: "doerte"
    number: '03'
  - name: "schlafzimmer"
    number: '04'
  - name: "wolfgang"
    number: '05'
  - name: "simeon"
    number: '06'
  - name: "gaeste"
    number: '07'
  - name: "dect_haus"
    number: '09'
  - name: "dect_simeon"
    number: '10'
