---
router_static_hosts:
  - name: kallisto
    v4: 10.152.4.1
    mac: 6c:3b:e5:0d:83:e3
  - name: cs
    v4: 10.152.0.2
    mac: ec:b1:d7:f1:e6:40
  - name: gw
    v4: 10.152.0.3
    mac: 00:1d:aa:91:dd:9c

  - name: ap-wrt-00
    v4: 10.152.0.130
    mac: 00:8e:f2:4b:f1:ae
  - name: ap-wrt-01
    v4: 10.152.0.131
    mac: 4c:60:de:ea:bd:4d
  - name: ap-wrt-02
    v4: 10.152.0.132
    mac: 00:8e:f2:4b:ee:a2

  - name: grandstream
    v4: 10.152.1.1
    mac: c0:74:ad:0b:e1:f5
    hostid: 2
  - name: fritz
    v4: 10.152.1.2
    mac: 34:81:c4:ed:4a:2d
  - name: printer
    v4: 10.152.1.3
    mac: f8:d0:27:56:be:b3
  - name: volumio
    v4: 10.152.1.4
    mac: b8:27:eb:30:b9:9a

  - name: ipa
    v4: "{{ ap_radius_server_ip }}"
    mac: D6:8B:7F:C5:6C:59

router_port_redirect:
  - name: ssh
    port: 22
    network: knet
    ip: 10.152.4.1
  - name: http
    port: 80
    network: knet
    ip: 10.152.4.1
  - name: https
    port: 443
    network: knet
    ip: 10.152.4.1
  - name: pve
    port: 8006
    network: knet
    ip: 10.152.4.1