---
ansible_user: root
ansible_python_interpreter: /usr/bin/python3

ssh_allow_password: yes
base_upgrade: dist

dyndns_pubkey: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDEKounogLx9MUfO7/Jnp6OpLtX/LcBVvLIe+x79dfxrok5nklFpI+qr0NAL4izKSR7U2Rz7sBnfoc7SiHsp5VsqIRCYEfNkUX83XXyKlhkz2PDL+ugemAvelfvvLBNnyhLl5KvU/NwKXqa2xIk4l2tlv41ay9wEy5kbrlB/N3uIztEcNFO1el9JV5fMVs7VqjLoq2rV7O3guQxOPJYFHTylS9Kg1O390VBdq5OGdfomfHlcM5o/PzI4qgcnVWH5Ct1jnr847eXMyjQb7bnoZYo5ynsOpX3tn1psHcD8RoJ5/qt40KK3kKS+ijOufHE1r+t2z7Inr5ql1LJnyCva801 root@kallisto"
dyndns_enable: yes
dyndns_zone: int.goe.de

php_webserver_daemon: nginx
php_enable_php_fpm: true
php_use_managed_ini: true
php_default_version_debian: "7.4"

php_packages_extra:
  - "php{{ php_default_version_debian }}-zip"
  - "php{{ php_default_version_debian }}-xml"
  - "php{{ php_default_version_debian }}-curl"
  - "php{{ php_default_version_debian }}-gd"
  - "php{{ php_default_version_debian }}-mbstring"
  - "php{{ php_default_version_debian }}-pgsql"

php_memory_limit: "512M"
php_fpm_pm_max_children: 120
php_fpm_pm_start_servers: 12
php_fpm_pm_min_spare_servers: 6
php_fpm_pm_max_spare_servers: 18
php_fpm_clear_env: "no"

php_use_managed_ini: true

php_opcache_enable: "1"
php_opcache_interned_strings_buffer: "8"
php_opcache_max_accelerated_files: "10000"
php_opcache_memory_consumption: "128"
php_opcache_revalidate_freq: "1"