---
yate_cleanup_config: true

spigate_username: "{{ lookup('passwordstore', 'infra/yate-vm.int.goe.de.n0emis.eu/sigpate subkey=user') }}"

yate_config:
  accfile:
    dtag_privat:
      enabled: 'yes'
      protocol: sip
      description: telekom4
      interval: 600
      username: "0049551484725"
      authname: "{{ lookup('passwordstore', 't-online.de subkey=email') }}"
      password: "{{ lookup('passwordstore', 't-online.de') }}"
      registrar: tel.t-online.de
      domain: tel.t-online.de
      localaddress: 'yes'
      #outbound: tel.t-online.de:5060
      #ip_transport: tcp
    sipgate:
      enabled: 'yes'
      protocol: sip
      description: sipgate
      #interval: 120
      username: "{{ spigate_username }}"
      password: "{{ lookup('passwordstore', 'infra/yate-vm.int.goe.de.n0emis.eu/sigpate') }}"
      registrar: sipgate.de
      localaddress: 'yes'
    epvpn:
      enabled: 'yes'
      protocol: sip
      description: eventphone_epvpn
      interval: 600
      registrar: hg.eventphone.de:5060
      localaddress: 'yes'
      username: "{{ lookup('passwordstore', 'infra/eventphone.de/epvpn_home subkey=user') }}"
      password: "{{ lookup('passwordstore', 'infra/eventphone.de/epvpn_home') }}"
  regfile:
    'l01':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l02':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l03':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l04':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l05':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l06':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l07':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l08':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l09':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l10':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
    'l11':
      password: "{{ lookup('passwordstore', 'infra/yate-test.int.goe.de.n0emis.eu/phones') }}"
  regexroute:
    default:
      '${username}^$': '-;error=noauth'

      '^5374$': "goto epvpn_incoming"

      '^0049551484725$': 'goto privat_incoming'
      '^\+49551484725$': 'goto privat_incoming'

      '^29729.*$': 'goto privat_incoming'

      '^05$': 'lateroute/l05'
      '^06$': 'lateroute/l06'
      '^07$': 'lateroute/l07'
      '^08$': 'lateroute/l08'
      '^09$': 'lateroute/l09'
      '^10$': 'lateroute/l10'
      '^11$': 'lateroute/l11'

      '^[0-9]\{4\}$': 'goto epvpn_outgoing'

      '^00\([0-9]*\)$': 'goto dtag_privat_outgoing; caller=+\1'
      '^0\([0-9]*\)$': 'goto dtag_privat_outgoing; caller=+49\1'
      '^\([0-9]*\)$': 'goto dtag_privat_outgoing; caller=+49551\1'
      #'^\([0-9]*\)$': 'goto dtag_privat_outgoing;'

      #'^\([0-9]*\)$': 'goto sipgate_outgoing; caller=\0'

      '^99991001$': 'tone/dial'
      '^99991002$': 'tone/busy'
      '^99991003$': 'tone/ring'
      '^99991004$': 'tone/specdial'
      '^99991005$': 'tone/congestion'
      '^99991006$': 'tone/outoforder'
      '^99991007$': 'tone/milliwatt'
      '^99991008$': 'tone/info'
    dtag_privat_outgoing:
      #'^00\([0-9]*\)$': 'sip/sip:+\1;line=dtag_privat;caller=0049551484725;domain=tel.t-online.de'
      #'^0\([0-9]*\)$': 'sip/sip:+49\1;line=dtag_privat;caller=0049551484725;domain=tel.t-online.de'
      #'^\([0-9]*\)$': 'sip/sip:+49551\1;line=dtag_privat;caller=0049551484725;domain=tel.t-online.de'
      '.*$': "sip/sip:\\0;line=dtag_privat;caller=0049551484725;domain=tel.t-online.de"
    sipgate_outgoing:
      '.*$': "sip/sip:\\0;line=dtag_privat;caller={{ spigate_username }};domain=sipgate.de"
    dtag_pfarramt_outgoing:
      '.*$': "sip/sip:\\0;line=dtag_privat;caller=00495515316375;domain=tel.t-online.de"
    epvpn_outgoing:
      '.*$': "sip/sip:\\0;line=epvpn;caller=5374;domain=hg.eventphone.de"

    privat_incoming:
      '^.*$': 'fork lateroute/l01 lateroute/l03 lateroute/l04 lateroute/l05 lateroute/l06 lateroute/l07 lateroute/l09 lateroute/l10 lateroute/l11'
    dtag_pfarramt_incoming:
      '^.*$': 'fork lateroute/l02'
    epvpn_incoming:
      '^.*$': 'fork lateroute/l06 lateroute/l10 lateroute/l11'
  h323chan:
    ep:
      ep: 'true'
      gw: 'false'
      ident: yate
  yate:
    general:
      msgsniff: 'yes'
    localsym:
      h323chan.yate: 'yes'
    modules:
      regexroute.yate: 'true'
      accfile.yate: 'true'
      regfile.yate: 'true'
      msgsniff.yate: 'true'
  ysipchan:
    general:
      maxpkt: 4096
      thread: high
  yrtpchan:
    general:
      thread: high
