---
wireguard_server_address: "10.152.22.1/32"

networking_nftables: yes

powerdns_secondary_names:
  - ns3.n0emis.eu

wireguard_networks:
  - wg_client
  - wg-cgvpn
  - wg-cgvpn-c

wireguard_wg-cgvpn_interface:
  address: fdf8:7e7f:d097:9900::4/48
  private_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/wg-cgvpn') }}"
  listen_port: 41001
wireguard_wg-cgvpn_peers:
  panda:
    endpoint: panda1.s-klamt.de:23138
    public_key: "tTEcFySDPkYo6M/nVH1GHYAyTbC65YgL0kk+XGpb9DA="
    allowed_ips: "fdf8:7e7f:d097:9910::/60, fdf8:7e7f:d097:9900::1/128"
  dewitte:
    endpoint: vpn.reichel.one:42023
    public_key: "NT6pY3uXAQbPnr7oQ8TPU7CPf55cVGxRnbY6Y2IQmGU="
    allowed_ips: "fdf8:7e7f:d097:9920::/60, fdf8:7e7f:d097:9900::2/128"
  frink:
    endpoint: sg46lan.spdns.de:51822
    public_key: "yxtoqUZREgiz6DcyJHRtTcmtzSdjSZKWIgdp8D9Fmy4="
    allowed_ips: "fdf8:7e7f:d097:9930::/60, fdf8:7e7f:d097:9900::3/128"

wireguard_wg-cgvpn-c_interface:
  address: fdf8:7e7f:d097:9940::1/64
  private_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/wg-cgvpn') }}"
  listen_port: 41002
wireguard_wg-cgvpn-c_peers:
  adrastea:
    public_key: "HIbjMOH9UGk0zNI1nI0bmLRVB5ncnBWI3zoP7YuXpQQ="
    allowed_ips: "fdf8:7e7f:d097:9940::10/128"
  kallisto:
    public_key: "FIOfUu0cDyWWQBCXm3CAbzTGnybapJr7i/M42fbxP08="
    allowed_ips: "fdf8:7e7f:d097:9940::11/128"
  e1mo:
    public_key: "eokxpF/8WT0ull71TSnM6MWTT/gA4i1dOxSlJwjdZ3c="
    allowed_ips: "fdf8:7e7f:d097:9940::20/128"

wireguard_wg_client_interface:
  address: "10.152.10.254/24"
  private_key: "{{ lookup('passwordstore', 'infra/' + ansible_fqdn + '/wg_client') }}"
  listen_port: 41004
wireguard_wg_client_peers:
  adrastea:
    public_key: "MghE8GgmfP3oRBUqM67lovJyKg1X0glocpvBkKQ0sAA="
    allowed_ips: "10.152.10.1"

wireguard_mesh_neighbours: "{{ groups['wireguard_member'] + ['chaldene.gwd.goe.de.n0emis.eu'] }}"

### DNS
pdns_rec_forward_dn42: "172.20.0.53;fd42:d42:d42:54::1"
pdns_rec_forward_cccgoe: "fdf8:7e7f:d097:9900::1"

bird_extra: |
  protocol static {
      # dn42
      route 172.16.0.0/12 unreachable;
      # icvpn
      route 10.0.0.0/8 unreachable;

      ipv4 {
          table igp4;
      };
  }

  protocol static {
      # dn42
      route fd00::/8 unreachable;

      ipv6 {
          table igp6;
      };
  }

  include "/etc/bird/dn42/bird.conf";

