---
- hosts: all !openwrt
  gather_facts: yes
  tags: always

- hosts: dns
  become: yes
  roles:
    - powerdns.pdns
#    - powerdns.pdns_recursor
  tags: dns, powerdns

- hosts: dns_secondary
  become: yes
  roles:
    - n0emis.pdns_secondary
  tags: dns, powerdns, dns_secondary

- hosts: dns_primary
  become: yes
  roles:
    - n0emis.pdns_primary
  tags: dns, powerdns, dns_primary

- hosts: all !openwrt
  become: yes
  roles:
    - base
    - gantsign.oh-my-zsh
    - jnv.unattended-upgrades
  tags: base

- hosts: all !not_monitored
  become: yes
  roles:
    - fahrplandatengarten.icinga
  tags: icinga,monitoring

- hosts: php
  become: yes
  pre_tasks:
    - name: add php repository (Ubuntu)
      apt_repository:
        repo: "ppa:ondrej/php"
        state: present
      when: ansible_distribution == "Ubuntu"
    - name: Import php apt signing key
      apt_key:
        url: "https://packages.sury.org/php/apt.gpg"
      when: ansible_distribution == "Debian"
    - name: add php repository (Debian)
      apt_repository:
        repo: "deb https://packages.sury.org/php/ {{ ansible_distribution_release }} main"
        state: present
      when: ansible_distribution == "Debian"
  roles:
    - geerlingguy.php
  tasks:
    - name: Configure php-fpm pool (if enabled).
      lineinfile:
        dest: "{{ php_fpm_pool_conf_path }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      with_items:
        - regexp: "^.?clear_env.?=.+$"
          line: "clear_env = {{ php_fpm_clear_env }}"
      when: php_enable_php_fpm
      notify: restart php-fpm
  tags: php

- hosts: postgresql
  become: yes
  roles:
    - geerlingguy.postgresql
  tags:
    - postgresql
    - postgres

- hosts: nginx
  become: yes
  roles:
    - geerlingguy.nginx
  tags: nginx

- hosts: redis
  become: yes
  roles:
    - geerlingguy.redis
  tags: redis

- hosts: dyndns
  become: yes
  roles:
    - em0lar.powerdns-dynamicdns
  serial:
    - 1
  tags: dyndns

- hosts: mail
  roles:
    - em0lar.docker
    - mailcow
  tags: mailcow,mail

- hosts: traefik
  become: yes
  roles:
    - em0lar.traefik
  tasks:
    - name: Install deps
      apt:
        name: jq
        state: present

    - name: Copy traefik cumpcerts-script
      template:
        dest: "{{ traefik_config_directory }}/dumpcerts.sh"
        src: "files/traefik/dumpcerts.sh"
        owner: "root"
        group: "root"
        mode: 0744

    - name: setup traefik certificate-exporter cronjob
      cron:
        name: "traefik certificate-exporter"
        hour: "2"
        user: "root"
        job: "{{ traefik_config_directory }}/dumpcerts.sh {{ traefik_config_directory }}/acme.json /etc/ssl/"

    - name: run traefik certificate-exporter
      command: '{{ traefik_config_directory }}/dumpcerts.sh {{ traefik_config_directory }}/acme.json /etc/ssl/'
      become: true
      ignore_errors: yes
  tags: traefik

- hosts: minio
  become: yes
  roles:
    - atosatto.minio
  tags: minio

- hosts: synapse
  become: yes
  roles:
    - n0emis.synapse
    - systemli.coturn
  tags: synapse, matrix

#- hosts: synapse
#  become: yes
#  roles:
#    - n0emis.matrix-media-repo
#  tags: matrix, mediarepo

- hosts: synapse
  become: yes
  roles:
    - geerlingguy.nodejs
    - em0lar.mautrix-telegram
    - n0emis.matrix-appservice-irc
    - n0emis.mautrix-signal
#    - n0emis.mautrix-whatsapp
  tags: matrix, bridges

- hosts: ldap
  become: yes
  roles:
    - mrlesmithjr.openldap
  tags: ldap

- hosts: radius
  roles:
    - freeradius
  tags: radius,freeradius

- hosts: keycloak
  become: yes
  roles:
    - em0lar.keycloak
  tasks:
    - name: deploy custom keycloak-theme
      git:
        repo: 'https://git.n0emis.eu/n0emis/n0emis-keycloak-theme.git'
        dest: "{{ keycloak_jboss_home }}/themes/n0emis-keycloak-theme"
      notify: restart keycloak
    - name: deploy captcha plugin
      get_url:
        url: "{{ keycloak_registration_captcha_url }}"
        dest: "{{ keycloak_jboss_home }}/standalone/deployments/"
        owner: "{{ keycloak_service_user }}"
        group: "{{ keycloak_service_group }}"
    - name: deploy metrics plugin
      get_url:
        url: "{{ keycloak_metrics_spi_url }}"
        dest: "{{ keycloak_jboss_home }}/standalone/deployments/keycloak-metrics-spi.jar"
        owner: "{{ keycloak_service_user }}"
        group: "{{ keycloak_service_group }}"
  tags: iam, keycloak

- hosts: louketo
  become: yes
  roles:
    - n0emis.louketo
  tasks:
    - name: Copy forbidden template
      copy:
        src: "files/louketo/forbidden.html"
        dest: "{{ louketo_config_path }}/forbidden.html"
  tags: louketo

- hosts: git
  become: yes
  roles:
    - thomas_maurice.gitea
  tasks:
    - name: Upload SSH key
      copy:
        content: "{{ ssh_deploy_key }}"
        dest: "{{ gitea_home }}/ssh_deploy_key"
        owner: "{{ gitea_user }}"
        group: "{{ gitea_user }}"
        mode: "0400"
  tags: gitea,git

- hosts: nodejs
  become: yes
  roles:
    - geerlingguy.nodejs
    - ocha.yarn
  tags: nodejs, node, yarn

- hosts: hedgedoc
  become: yes
  roles:
    - em0lar.hedgedoc
  tasks:
    - name: Upload saml cert
      copy:
        dest: "{{ hedgedoc_saml_idpCertPath }}"
        content: "{{ hedgedoc_saml_idpCert }}"
      notify: restart hedgedoc
#    - name: Install Pandoc
#      apt:
#        name:
#          - pandoc
#          - texlive-full
#        state: present
#    - name: Install Eisvogel-Template
#      get_url:
#        url: https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/master/eisvogel.tex
#        dest: /usr/share/pandoc/data/templates/eisvogel.latex
  tags: codimd,hedgedoc

- hosts: netbox
  become: yes
  roles:
    - lae.netbox
  tags: netbox

- hosts: wireguard_member
  gather_facts: yes
  tasks:
    - name: Create wireguard_peer config for wireguard server
      set_fact:
        wireguard_peer:
          public_key: "{{ wireguard_server_public_key }}"
          allowed_ips: "{{ wireguard_server_allowed_ips }}"
          endpoint: "{{ ansible_fqdn }}:30000"
  tags: wireguard, wg

- hosts: wireguard
  become: yes
  pre_tasks:
    - name: Create wireguard peers config with host items
      set_fact:
        wireguard_wg_server_peers: "{{ wireguard_wg_server_peers | combine({ 'server_' + hostvars[item].ansible_fqdn: hostvars[item].wireguard_peer }) }}"
      when: "hostvars[item].ansible_fqdn != ansible_fqdn"
      with_items: "{{ groups['wireguard_member'] }}"
  roles:
    - n0emis.wireguard
  tags: wireguard, wg

- hosts: vpn
  become: yes
  roles:
    - strongswan
  tags: strongswan, vpn

- hosts: dn42
  become: yes
  roles:
    - n0emis.dn42
  handlers:
    - name: save iptables
      shell: iptables-save > /etc/iptables/rules.v4

    - name: save ip6tables
      shell: ip6tables-save > /etc/iptables/rules.v6
  tasks:
    - name: Install iptables-persistent
      apt:
        name: "iptables-persistent"
        state: present

    - name: Reject ipv4 packets from dn42 to private wireguard
      iptables:
        ip_version: ipv4
        chain: FORWARD
        in_interface: "dn42_+"
        out_interface: "wg-+"
        jump: REJECT
      notify: save iptables

    - name: Reject ipv6 packets from dn42 to private wireguard
      iptables:
        ip_version: ipv6
        chain: FORWARD
        in_interface: "dn42_+"
        out_interface: "wg-+"
        jump: REJECT
      notify: save ip6tables
  tags: dn42

- hosts: lg
  become: yes
  roles:
    - n0emis.bird-lg
  tags: lg, lookingglass

- hosts: nextcloud
  become: yes
  roles:
    - n0emis.nextcloud
  tags: nextcloud

- hosts: bbb
  roles:
    - n0emis.bigbluebutton
  tags: bbb

- hosts: venueless
  roles:
    - chaos_jetzt.venueless
  tags: venueless

- hosts: yate
  roles:
    - n0emis.yate
  tags: yate

- hosts: dnsadmin
  become: yes
  roles:
    - n0emis.powerdns-admin
  tags: dnsadmin, powerdns-admin

- import_playbook: accesspoints.yml
  tags: ap
