---
- hosts: dns
  become: yes
  vars:
    coredns_config_file: files/coredns/Corefile.j2
  roles:
    - cloudalchemy.coredns
  tags: dns, coredns

- hosts: all !openwrt
  become: yes
  roles:
    - base
    - gantsign.oh-my-zsh
    - jnv.unattended-upgrades
  tags: base

- hosts: php
  become: yes
  roles:
    - geerlingguy.php
  tasks:
    - name: Configure php-fpm pool (if enabled).
      lineinfile:
        dest: "{{ php_fpm_pool_conf_path }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      with_items:
        - regexp: "^.?clear_env.?=.+$"
          line: "clear_env = {{ php_fpm_clear_env }}"
      when: php_enable_php_fpm
      notify: restart php-fpm
  tags: php

- hosts: dyndns
  become: yes
  roles:
    - em0lar.coredns-dynamicdns
  tags: dyndns

- hosts: mail
  roles:
    - docker
    - mailcow
  tags: mailcow,mail

- hosts: reverseproxy
  become: yes
  roles:
    - em0lar.traefik
    - traefik-services
  tags: traefik

- hosts: synapse
  become: yes
  roles:
    - geerlingguy.postgresql
    - n0emis.synapse
  tags: synapse, matrix

- hosts: synapse
  become: yes
  roles:
    - geerlingguy.nodejs
    - em0lar.mautrix-telegram
    - n0emis.matrix-appservice-irc
#    - n0emis.mautrix-whatsapp
  tags: matrix, bridges

- hosts: iam
  become: yes
  roles:
    - geerlingguy.postgresql
    - em0lar.keycloak
  tasks:
    - name: Change HTTP-Listener for proxy-usage
      replace:
        path: "{{ keycloak_config_dir }}/standalone.xml"
        regexp: '<http-listener name="default" socket-binding="http" redirect-socket="https" enable-http2="true"/>'
        replace: '<http-listener name="default" socket-binding="http" redirect-socket="proxy-https" enable-http2="true" proxy-address-forwarding="true"/>'
      notify: restart keycloak

    - name: Create socket binding for proxy-usage
      lineinfile:
        path: "{{ keycloak_config_dir }}/standalone.xml"
        insertafter: '<socket-binding name="https" port="\${jboss.https.port:8443}"\/>'
        regexp: '<socket-binding name="proxy-https" port="443"/>'
        line: '<socket-binding name="proxy-https" port="443"/>'
      notify: restart keycloak

    - name: Activate preview features
      copy:
        dest: "{{ keycloak_config_dir }}/profile.properties"
        content: |
          profile=preview
      notify: restart keycloak
  tags: iam, keycloak

- hosts: git
  become: yes
  roles:
    - geerlingguy.postgresql
    - thomas_maurice.gitea
  tasks:
    - name: Upload SSH key
      copy:
        content: "{{ ssh_deploy_key }}"
        dest: "{{ gitea_home }}/ssh_deploy_key"
        owner: "{{ gitea_user }}"
        group: "{{ gitea_user }}"
        mode: "0400"
  tags: gitea

- hosts: codimd
  become: yes
  roles:
    - geerlingguy.postgresql
    - geerlingguy.nodejs
    - em0lar.codimd
  tasks:
    - name: Install Pandoc
      apt:
        name:
          - pandoc
          - texlive-full
        state: present
    - name: Install Eisvogel-Template
      get_url:
        url: https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/master/eisvogel.tex
        dest: /usr/share/pandoc/data/templates/eisvogel.latex
  tags: codimd

- hosts: netbox
  become: yes
  roles:
    - geerlingguy.postgresql
    - geerlingguy.redis
    - lae.netbox
  tags: netbox

- hosts: wireguard
  become: yes
  roles:
    - adamruzicka.wireguard
  tags: wireguard

- hosts: dn42
  become: yes
  roles:
    - n0emis.dn42
  tags: dn42

- hosts: bbb
  roles:
    - n0emis.bigbluebutton
  tags: bbb

- hosts: yate
  roles:
    - n0emis.yate
  tags: yate

- import_playbook: accesspoints.yml
  tags: ap
