---
- hosts: all !openwrt
  gather_facts: yes
  tags: dnsmasq, dns

- hosts: dns
  become: yes
  vars:
    coredns_config_file: files/coredns/Corefile.j2
  roles:
    - cloudalchemy.coredns
  tags: dns, coredns

- hosts: all !openwrt
  become: yes
  roles:
    - base
    - gantsign.oh-my-zsh
    - jnv.unattended-upgrades
  tags: base

- hosts: php
  become: yes
  roles:
    - geerlingguy.php
  tasks:
    - name: Configure php-fpm pool (if enabled).
      lineinfile:
        dest: "{{ php_fpm_pool_conf_path }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      with_items:
        - regexp: "^.?clear_env.?=.+$"
          line: "clear_env = {{ php_fpm_clear_env }}"
      when: php_enable_php_fpm
      notify: restart php-fpm
  tags: php

- hosts: dyndns
  become: yes
  roles:
    - em0lar.coredns-dynamicdns
  tags: dyndns

- hosts: mail
  roles:
    - em0lar.docker
    - mailcow
  tags: mailcow,mail

- hosts: traefik
  become: yes
  roles:
    - em0lar.traefik
  tasks:
    - name: Install deps
      apt:
        name: jq
        state: present

    - name: Copy traefik cumpcerts-script
      template:
        dest: "{{ traefik_config_directory }}/dumpcerts.sh"
        src: "files/traefik/dumpcerts.sh"
        owner: "root"
        group: "root"
        mode: 0744

    - name: setup traefik certificate-exporter cronjob
      cron:
        name: "traefik certificate-exporter"
        hour: "2"
        user: "root"
        job: "{{ traefik_config_directory }}/dumpcerts.sh {{ traefik_config_directory }}/acme.json /etc/ssl/"

    - name: run traefik certificate-exporter
      command: '{{ traefik_config_directory }}/dumpcerts.sh {{ traefik_config_directory }}/acme.json /etc/ssl/'
      become: true
      ignore_errors: yes
  tags: traefik

- hosts: synapse
  become: yes
  roles:
    - geerlingguy.postgresql
    - n0emis.synapse
    - systemli.coturn
  tags: synapse, matrix

- hosts: synapse
  become: yes
  roles:
    - geerlingguy.nodejs
    - em0lar.mautrix-telegram
    - n0emis.matrix-appservice-irc
#    - n0emis.mautrix-whatsapp
  tags: matrix, bridges

- hosts: iam
  become: yes
  roles:
    - geerlingguy.postgresql
    - em0lar.keycloak
  tasks:
    - name: Change HTTP-Listener for proxy-usage
      replace:
        path: "{{ keycloak_config_dir }}/standalone.xml"
        regexp: '<http-listener name="default" socket-binding="http" redirect-socket="https" enable-http2="true"/>'
        replace: '<http-listener name="default" socket-binding="http" redirect-socket="proxy-https" enable-http2="true" proxy-address-forwarding="true"/>'
      notify: restart keycloak

    - name: Create socket binding for proxy-usage
      lineinfile:
        path: "{{ keycloak_config_dir }}/standalone.xml"
        insertafter: '<socket-binding name="https" port="\${jboss.https.port:8443}"\/>'
        regexp: '<socket-binding name="proxy-https" port="443"/>'
        line: '<socket-binding name="proxy-https" port="443"/>'
      notify: restart keycloak

    - name: Activate preview features
      copy:
        dest: "{{ keycloak_config_dir }}/profile.properties"
        content: |
          profile=preview
      notify: restart keycloak
  tags: iam, keycloak

- hosts: git
  become: yes
  roles:
    - geerlingguy.postgresql
    - thomas_maurice.gitea
  tasks:
    - name: Upload SSH key
      copy:
        content: "{{ ssh_deploy_key }}"
        dest: "{{ gitea_home }}/ssh_deploy_key"
        owner: "{{ gitea_user }}"
        group: "{{ gitea_user }}"
        mode: "0400"
  tags: gitea

- hosts: codimd
  become: yes
  roles:
    - geerlingguy.postgresql
    - geerlingguy.nodejs
    - em0lar.codimd
#  tasks:
#    - name: Install Pandoc
#      apt:
#        name:
#          - pandoc
#          - texlive-full
#        state: present
#    - name: Install Eisvogel-Template
#      get_url:
#        url: https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/master/eisvogel.tex
#        dest: /usr/share/pandoc/data/templates/eisvogel.latex
  tags: codimd

- hosts: netbox
  become: yes
  roles:
    - geerlingguy.postgresql
    - geerlingguy.redis
    - lae.netbox
  tags: netbox

- hosts: wireguard_member
  gather_facts: yes
  tasks:
    - name: Create wireguard_peer config for wireguard server
      set_fact:
        wireguard_peer:
          public_key: "{{ wireguard_server_public_key }}"
          allowed_ips: "{{ wireguard_server_allowed_ips }}"
          endpoint: "{{ ansible_fqdn }}:30000"
  tags: wireguard

- hosts: wireguard
  pre_tasks:
    - name: Create wireguard peers config with host items
      set_fact:
        wireguard_wg_server_peers: "{{ wireguard_wg_server_peers | combine({ 'server_' + hostvars[item].ansible_facts.fqdn: hostvars[item].wireguard_peer }) }}"
      when: "hostvars[item].ansible_facts.fqdn is defined and hostvars[item].ansible_facts.fqdn != ansible_fqdn"
      with_items: "{{ groups['wireguard_member'] }}"
  roles:
    - n0emis.wireguard
  tags: wireguard

- hosts: dn42
  become: yes
  roles:
    - n0emis.dn42
  handlers:
    - name: save iptables
      shell: iptables-save > /etc/iptables/rules.v4

    - name: save ip6tables
      shell: ip6tables-save > /etc/iptables/rules.v6
  tasks:
    - name: Install iptables-persistent
      apt:
        name: "iptables-persistent"
        state: present

    - name: Reject ipv4 packets from dn42 to private wireguard
      iptables:
        ip_version: ipv4
        chain: FORWARD
        in_interface: "dn42_+"
        out_interface: "wg-+"
        jump: REJECT
      notify: save iptables

    - name: Reject ipv6 packets from dn42 to private wireguard
      iptables:
        ip_version: ipv6
        chain: FORWARD
        in_interface: "dn42_+"
        out_interface: "wg-+"
        jump: REJECT
      notify: save ip6tables
  tags: dn42

- hosts: dnsmasq
  become: yes
  gather_facts: yes
  roles:
    - Oefenweb.dnsmasq
  tags: dnsmasq, dns

- hosts: lg
  become: yes
  roles:
    - n0emis.bird-lg
  tags: lg, lookingglass

- hosts: bbb
  roles:
    - n0emis.bigbluebutton
  tags: bbb

- hosts: yate
  roles:
    - n0emis.yate
  tags: yate

- import_playbook: accesspoints.yml
  tags: ap
