---
- import_playbook: dns.yml
  tags: dns

- hosts: dns
  become: yes
  vars:
    coredns_config_file: files/coredns/Corefile.j2
  roles:
    - cloudalchemy.coredns
  tags: dns, coredns

- hosts: all !openwrt
  become: yes
  roles:
    - base
    - gantsign.oh-my-zsh
    - jnv.unattended-upgrades
  tags: base

- hosts: php
  become: yes
  roles:
    - geerlingguy.php
  tasks:
    - name: Configure php-fpm pool (if enabled).
      lineinfile:
        dest: "{{ php_fpm_pool_conf_path }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      with_items:
        - regexp: "^.?clear_env.?=.+$"
          line: "clear_env = {{ php_fpm_clear_env }}"
      when: php_enable_php_fpm
      notify: restart php-fpm
  tags: php

- hosts: dyndns
  become: yes
  roles:
    - coredns-dyndns
  tags: dyndns

- hosts: mail
  roles:
    - docker
    - mailcow
  tags: mailcow

- hosts: reverseproxy
  become: yes
  roles:
    - em0lar.traefik
    - traefik-services
  tags: traefik

- hosts: git
  become: yes
  roles:
    - geerlingguy.postgresql
    - thomas_maurice.gitea
  tasks:
    - name: Upload SSH key
      copy:
        content: "{{ ssh_deploy_key }}"
        dest: "{{ gitea_home }}/ssh_deploy_key"
        owner: "{{ gitea_user }}"
        group: "{{ gitea_user }}"
        mode: "0400"
  tags: gitea

- hosts: bbb
  roles:
    - n0emis.bigbluebutton
  tags: bbb

- hosts: pbx
  roles:
    - elastix
  tags: pbx

- hosts: yate
  roles:
    - n0emis.yate
  tags: yate

- import_playbook: accesspoints.yml
  tags: ap
