options {
    directory "{{ powerdns_config_directory }}";
};

zone "n0emis.eu" IN {
    type master;
    file "zones/n0emis.eu";
};

zone "noemis.me" IN {
    type master;
    file "zones/noemis.me";
};

zone "n0emis.dn42" IN {
    type master;
    file "zones/n0emis.dn42";
};

zone "acme.dn42" IN {
    type master;
    file "zones/acme.dn42";
};

zone "n0emis.tk" IN {
    type master;
    file "zones/n0emis.tk";
};
