options {
    directory "{{ powerdns_config_directory }}";
};

zone "n0emis.eu" IN {
    type master;
    file "zones/n0emis.eu";
};

zone "noemis.me" IN {
    type master;
    file "zones/noemis.me";
};

zone "n0emis.dn42" IN {
    type master;
    file "zones/n0emis.dn42";
};

{% if ansible_fqdn == dyndns_host %}
zone "dyn.n0emis.eu" IN {
    type master;
    file "zones/dyn.n0emis.eu";
};
{% endif %}
