# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5)

# Include files from /etc/network/interfaces.d:
source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback
    address {{ local_v4 }}/32
{% for addr in networking_lo_addr %}
    address {{ addr }}
{% endfor %}
{#    up ip a add 172.20.190.96/32 dev lo#}
{#    up ip a add fdf4:2331:fa09::1/128 dev lo#}
{#    post-up ip rule add table 42#}
{#    post-up ip -6 rule add table 42#}

{% if lxc_netmask is defined %}
auto vmbr0
iface vmbr0
    bridge-ports none
    address {{ lxc_gateway4 }}/{{ lxc_netmask }}
    address {{ lxc_gateway6 }}/64
{% if lxc_extra_ip_config is defined %}
    {{ lxc_extra_ip_config }}
{% endif %}
{% endif %}

{% for peer in wireguard_mesh_neighbours %}
{% if hostvars[peer].inventory_hostname_short != inventory_hostname_short %}
# link between `{{ hostvars[peer].inventory_hostname_short }}` and `{{ inventory_hostname_short }}`
auto wg-s-{{ hostvars[peer].inventory_hostname_short }}
iface wg-s-{{ hostvars[peer].inventory_hostname_short }}
    address {{ local_v4 }}/32
    pointopoint {{ hostvars[peer].local_v4 }}/32
    scope link

    ipv6-addrgen no # see https://github.com/CumulusNetworks/ifupdown2/issues/130
    address {{ local_ll }}/64
    pointopoint {{ hostvars[peer].local_ll }}/64
    scope link

    link-type wireguard
    pre-up ip link add dev $IFACE type wireguard
    pre-up wg setconf $IFACE /etc/wireguard/wg-s-{{ hostvars[peer].inventory_hostname_short }}.conf

    post-down ip link del dev $IFACE

{% endif %}
{% endfor %}
